<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sliding</title>
    <link href="{% static 'assets/css/certification.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="container" id="main">
        <div class="signup">
            <form action="#">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-goofle-plus-g"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>

                </div>
                Or Use Your Email For Rgistarion
            </form>
        </div>
    </div>
</body>
</html>